[Desktop Entry]
Name=Bleachbit
GenericName=Drive Cleaner
Comment=Clean cache files
Categories=Utility
Exec=bleachbit
Icon=bleachbit
Terminal=false
Type=Application
