[Desktop Entry]
Name=Discord
GenericName=Chat app
Comment=Chat with friends - CSS Mod
Categories=Game
Exec=discocss
Icon=discord
Terminal=false
Type=Application
