[Desktop Entry]
Name=Emacs
GenericName=Emacs Text Editor
Comment=Text Editor
Categories=Development
Icon=emacs
Exec=emacs
Terminal=false
Type=Application
