[Desktop Entry]
Name=Geany
GenericName=Code Editor
Comment=Geany text and code editor
Categories=Development
Icon=geany
Exec=geany
Terminal=false
Type=Application
