[Desktop Entry]
Name=MPV
GenericName=Video Player
Comment=Multimedia player
Categories=AudioVideo
Icon=mpv
Exec=mpv --player-operation-mode=pseudo-gui
Terminal=false
Type=Application

