[Desktop Entry]
Name=Nethack
GenericName=Dungeon Crawler
Comment=Terminal dungeon crawler
Categories=Game
Icon=nethack
Exec=kitty -e nethack
Terminal=false
Type=Application
