[Desktop Entry]
Name=OBS
GenericName=Video Recorder
Comment=Record and stream your desktop
Categories=AudioVideo
Exec=obs
Icon=obs
Terminal=false
Type=Application
