[Desktop Entry]
Name=Pulseaudio Equalizer
GenericName=Equalizer
Comment=Equalize sound
Categories=Audio
Icon=multimedia-volume-control
Exec=qpaeq
Terminal=false
Type=Application
