[Desktop Entry]
Name=Steam
GenericName=Gaming Platform
Comment=Digital Game Store
Categories=Games
Icon=steam
Exec=steam
Terminal=false
Type=Application
