[Desktop Entry]
Name=System Monitor
GenericName=System Monitor
Comment=Monitor System State
Categories=Utility
Icon=gnome-system-monitor
Exec=gnome-system-monitor
Terminal=false
Type=Application
