[Desktop Entry]
Name=Thunderbird
GenericName=Mail
Comment=Send mail
Categories=Office
Icon=thunderbird
Exec=thunderbird
Terminal=false
Type=Application
