[Desktop Entry]
Name=UXTerm
GenericName=Terminal
Comment=XTerm Unicode Wrapper
Categories=Development
Icon=xterm
Exec=uxterm
Terminal=false
Type=Application
