[Desktop Entry]
Name=XTerm
GenericName=Terminal
Comment=Standard terminal
Categories=Development
Icon=xterm
Exec=xterm
Terminal=false
Type=Application
