[Desktop Entry]
Name=Zeal
GenericName=Documentation
Comment=Browse documentation
Categories=Development
Icon=zeal
Exec=zeal
Terminal=false
Type=Application
