<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="scripts" label="Scripts" icon="application-x-shellscript">
    <item label="Change gaps" icon="desktop">
        <action name="Execute">
            <command>~/.bin/gaps</command>
        </action>
    </item>
    <item label="Lock screen" icon="system-lock-screen">
        <action name="Execute">
            <command>~/.bin/lock</command>
        </action>
    </item>
    <item label="Notifications" icon="preferences-system-notifications">
        <action name="Execute">
            <command>~/.bin/notifhist</command>
        </action>
    </item>
    <item label="Image to text" icon="image-png">
        <action name="Execute">
            <command>~/.bin/rofi-imgtext</command>
        </action>
    </item>
    <item label="Screenshot" icon="camera">
        <action name="Execute">
            <command>~/.bin/rofi-screenshot</command>
        </action>
    </item>
    <item label="Wallpaper" icon="preferences-wallpaper">
        <action name="Execute">
            <command>~/.bin/rofi-wallpaper</command>
        </action>
    </item>
    <item label="URL Shortener" icon="emblem-link">
        <action name="Execute">
            <command>~/.bin/rofi-urlshorten</command>
        </action>
    </item>
</menu>

<menu id="root-menu" label="Menu">
  <separator label="Scripts" />
  <menu id="scripts"/>
  <separator />
  <item label="Power Options" icon="system-shutdown-panel">
      <action name="Execute">
          <command>~/.bin/rofi-power</command>
      </action>
  </item>
</menu>

</openbox_menu>
