! Color sceme
#define black0    #181e23
#define black1    #384149
#define grey0     #6A6A6A
#define grey1     #6A6A6A
#define red0      #FF8080
#define red1      #FFAEAE
#define green0    #97D59B
#define green1    #BEF8C1
#define yellow0   #FFFE80
#define yellow1   #FCFBA6
#define blue0     #80D1FF
#define blue1     #ACE1FF
#define magenta0  #C780FF
#define magenta1  #D8A8FF
#define cyan0     #80FFE4
#define cyan1     #A2FFEB
#define white0    #D5D5D5
#define white1    #FFFFFF

*background: black0
*foreground: white0
*color0: black0
*color1: red0
*color2: green0
*color3: yellow0
*color4: blue0
*color5: magenta0
*color6: cyan0
*color7: white0
*color8: black0
*color9: red1
*color10: green1
*color11: yellow1
*color12: blue1
*color13: magenta1
*color14: cyan1
*color15: white1
Xft.dpi:   96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
*renderFont: true
*faceName: Iosevka Nerd Font
*faceSize: 11

!! URxvt Settings
URxvt.font: xft:Iosevka:size=11
URxvt.boldFont: xft:Iosevka:size=11
URxvt.italicFont: xft:Iosevka:size=11
URxvt.boldItalicfont: xft:Iosevka:size=11
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
URxvt.perl-ext-common: "default, -searchable-scrollback"
