configuration {
    font: "Iosevka Nerd Font 12";
}

* {
    ac: #ffffff;
    bg: #000000;
    fg: #ffffff;
    background-color: @bg;
}

window {
    border: 0px;
    border-color: @ac;
    border-radius: 0px;
    padding: 20;
    width: 30%;
    height: 30%;
}

prompt {
    text-color:	@fg;
}

textbox-prompt-colon {
    expand: false;
    str: " - ";
    text-color:	inherit;
}

entry {
    spacing: 0;
    text-color: @fg;
}

inputbar {
    text-color:	@fg;
    children: [ prompt,textbox-prompt-colon,entry ];
}

listview {
    padding: 5px 5px 5px 5px;
}

element {
    border:	0px;
    border-radius: 0px;
    padding: 5px;
    text-color: @fg;
    background-color: @bg;
}

element selected {
    background-color: @fg;
    text-color: @bg;
}

element-text, element-icon {
    background-color: inherit;
    text-color: inherit;
}
