body {
  padding: 50px;
  color: #aeaeae;
  background-color: #0e131a;
  font-family: "Iosevka", monospace;
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
  max-width: 960px;
}

pre {
  color: #aeaeae;
  background: #1f252a;
  border: 0px solid #1f252a;
  border-left: 3px solid #384149;
  box-shadow: none;
  font-family: "Iosevka", monospace;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

blockquote {
  color: #aeaeae;
  background: #1f252a;
  border: 0px solid #1f252a;
  border-left: 3px solid #384149;
  box-shadow: none;
  font-family: "Iosevka", monospace;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

a {
  color: #80d1ff;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  list-style: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5,
h6 {
  font-size: 18px;
}

#postamble {
  display: none;
}
